.taskToDO{
    text-align: center;
    height: auto;
    font-size: 25px;
    margin: 15px;
    background-color: cornflowerblue;
    border-radius: 15px;
    color:white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.taskToDO_Done{
    text-align: center;
    height: auto;
    font-size: 25px;
    margin: 15px;
    background-color: firebrick;
    border-radius: 15px;
    color:white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
