.taskToDO{
    text-align: center;
    height: auto;
    font-size: 25px;
    margin: 15px;
    background-color: cornflowerblue;
    border-radius: 15px;
    color:white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.taskToDO_Done{
    text-align: center;
    height: auto;
    font-size: 25px;
    margin: 15px;
    background-color: firebrick;
    border-radius: 15px;
    color:white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.removeBtn{
font-size: 22px;
    width: 5%;
    border: none;
    background-color: orange;
    color: white;
    margin-right: 5px;
    min-width: 25px;
    cursor: pointer;
    max-height: 25px;
}
.textToDo{
    width: 90%;
    text-align: center;
    overflow-wrap: break-word;
    cursor:pointer;
}
.textToDo_None{
    width: 90%;
    color: firebrick;
    text-align: center;
    overflow-wrap: break-word;
    cursor:pointer;
    text-decoration: line-through;
}
.textNone{
    font-size: 22px;
    margin: 15px;
    font-family: "Bodoni MT Black";
}